version: 2
updates:

  # Maintain dependencies for Bundler
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: "monthly"
      day: "tuesday"
      time: "07:00"
      timezone: "Europe/Amsterdam"
    open-pull-requests-limit: 10

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "tuesday"
      time: "07:00"
      timezone: "Europe/Amsterdam"
      
